Repository eslint/eslint.org, pull requests merged in 2022-05, with the labels that each got.

#201 docs: fix typo
  src/_data/sites/en.yml
Labels: documentation, triage

#209 chore: replace addListener with addEventListener
  src/assets/js/components-index.js
  src/assets/js/docs-main.js
  src/assets/js/main.js
Labels: triage, chore

#206 chore: Add Carbon Ads to Japanese site
  src/_data/sites/ja.yml
Labels: triage, chore

#202 chore: Add Analytics to translation sites
  src/_data/sites/hi.yml
  src/_data/sites/ja.yml
  src/_data/sites/zh-cn.yml
Labels: triage, chore

#208 fix: set default theme
  src/assets/js/themes.js
Labels: bug, triage

#210 fix: Redirect to homepage on logo-link click
  src/assets/scss/header.scss
Labels: bug, triage

#215 perf: use system's own flag on non-Windows systems
  src/_includes/layouts/base.html
  src/assets/scss/tokens/typography.scss
Labels: triage, chore

#217 feat: Use playground in navigation
  src/_data/links.json
Labels: triage, feature

#218 feat: Enable proxying to docs site
  src/static/redirects.njk
Labels: triage, feature

#219 fix: disallow cursor for disabled tag
  src/assets/scss/components/pagination.scss
  src/assets/scss/components/slider.scss
Labels: bug, triage

#220 fix: correct typos
  src/_11ty/libs/getCollectionCategories.js
  src/assets/scss/blog.scss
  src/assets/scss/components/search.scss
Labels: bug, triage

#216 feat: French translation
  src/_data/sites/fr.yml
Labels: triage, feature
