Repository eslint/eslint.org, pull requests merged in 2022-09, with the labels that each got.

#340 fix: Update add-author.js to concat empty string instead of null
  tools/add-author.js
Labels: bug, triage

#328 ci: install playground dependencies
  .github/workflows/ci.yml
  .markdownlintignore
  package.json
Labels: triage, build

#292 build: Add pre commit hook
  package-lock.json
  package.json
Labels: triage, build

#307 chore: remove old playground's package.json and use main site's one
  src/content/pages/playground.html
Labels: triage, chore

#342 fix: show run install:playground command only for development
  package.json
  src/_data/helpers.js
  src/content/pages/playground.html
Labels: bug, accepted

#343 docs: Publish v8.23.1 release notes
  src/content/blog/2022-09-12-eslint-v8.23.1-released.md
Labels: documentation, triage

#347 feat: use semantic `<time>` tag
  src/_includes/components/card.macro.html
  src/_includes/components/hero.macro.html
Labels: triage, feature

#348 feat: add feed link in `<head>`
  src/_includes/layouts/base.html
Labels: triage, feature

#352 fix: update css selector for anchors
  src/_includes/layouts/post.html
Labels: bug, triage

#353 docs: Publish v8.24.0 release highlights
  src/content/blog/2022-09-23-eslint-v8.24.0-released.md
Labels: documentation, triage
