Repository eslint/eslint.org, pull requests merged in 2022-03, with the labels that each got.

#142 fix: invert Github logo in dark mode
  src/assets/css/styles.css
  src/assets/scss/donations.scss
  src/content/pages/donate.md
Labels: bug, triage

#144 feat: make theme switcher more accessible to voice control users
  src/_includes/components/theme-switcher.html
  src/assets/css/components/theme-switcher.css
  src/assets/css/styles.css
  src/assets/scss/components/theme-switcher.scss
Labels: triage, feature

#143 feat: File names+extensions and Sponsor logos in dark mode
  src/_includes/layouts/base.html
  src/_includes/layouts/blog.html
  src/_includes/layouts/category.html
  src/_includes/layouts/components.html
  src/_includes/layouts/main.html
  src/_includes/layouts/post.html
  src/assets/css/styles.css
  src/assets/scss/languages.scss
  src/assets/scss/sponsors.scss
  src/assets/scss/styles.scss
  src/content/pages/branding.html
  src/content/pages/component-library.html
  src/content/pages/donate.html
  src/content/pages/languages.html
  src/content/pages/versions.html
Labels: triage, feature

#141 feat: Animation
  src/_includes/components/header-animation.njk
  src/_includes/layouts/base.html
  src/assets/css/styles.css
  src/assets/images/dropdown--dark.png
  src/assets/images/dropdown--light.png
  src/assets/js/animation.js
  src/assets/scss/animation.scss
  src/assets/scss/styles.scss
  src/content/pages/index.html
Labels: triage, feature

#145 chore: Extract text into YAML file
  .eleventy.js
  README.md
  package-lock.json
  package.json
  src/_data/config.json
  src/_data/faqs.json
  src/_data/navigation.json
  src/_data/site.js
  src/_data/sites/en.yml
  src/_data/testimonials.json
  src/_data/versions.json
  src/_includes/components/accordion.html
  src/_includes/components/navigation.html
  src/_includes/components/search.html
  src/_includes/components/testimonials-slider.html
  src/_includes/layouts/base.html
  src/_includes/layouts/blog.html
  src/_includes/layouts/category.html
  src/_includes/partials/analytics.html
  src/_includes/partials/blog-categories.html
  src/_includes/partials/blog-pagination.html
  src/_includes/partials/carbon-ad.html
  src/_includes/partials/categories-pagination.html
  src/_includes/partials/faqs.html
  src/content/pages/donate.html
  src/content/pages/index.html
  src/content/pages/sponsors.html
  src/content/pages/team.html
Labels: triage, chore

#151 fix: remove homepage horizontal overflow on mobile
  src/assets/scss/homepage.scss
Labels: bug, triage

#152 chore: Extract the rest of the text
  src/_data/sites/en.yml
  src/_includes/components/language-switcher.html
  src/_includes/components/social-icons.html
  src/_includes/components/theme-switcher.html
  src/_includes/layouts/base.html
  src/_includes/layouts/components.html
  src/_includes/partials/brand-swatches.html
  src/_includes/partials/branding-logo.html
  src/_includes/partials/footer.html
  src/assets/css/styles.css
  src/content/pages/404.html
  src/content/pages/blog.html
  src/content/pages/branding.html
  src/content/pages/component-library.html
  src/content/pages/donate.html
  src/content/pages/index.html
  src/content/pages/languages.html
  src/content/pages/sponsors.html
  src/content/pages/team.html
  src/content/pages/versions.html
Labels: triage, chore

#153 chore: Extract animation logic
  src/_data/sites/en.yml
  src/_includes/components/header-animation.njk
  src/_includes/layouts/base.html
  src/assets/js/animation.js
  src/content/pages/index.html
Labels: triage, chore

#154 docs: Add translation instructions
  .github/ISSUE_TEMPLATE/translate.yml
  README.md
Labels: documentation, triage

#157 fix: fix faq description
  src/_includes/partials/faqs.html
Labels: bug, triage

#161 chore: Automatically fetch data each night
  .github/workflows/data-fetch.yml
  tools/commit-data.sh
Labels: triage, chore

#150 chore: fix layout shift
  src/assets/scss/components/carbon-ads.scss
  src/content/pages/index.html
Labels: triage, chore

#169 chore: fix data fetch
  .github/workflows/data-fetch.yml
Labels: triage, chore

#170 Fix typo in branding page
  src/_data/sites/en.yml
Labels: bug, triage

#168 chore: added redirects
  src/static/_redirects
Labels: triage, chore

#173 chore: Upgrade dependencies
  package-lock.json
  package.json
Labels: triage, chore

#176 fix: Donate harcoded word
  src/_includes/components/navigation.html
Labels: bug, triage

#167 chore: Fixes layout shift in mobile caused due to topnav
  src/_includes/components/navigation.html
Labels: bug, triage

#177 feat: Translate to spanish
  src/_data/sites/es.yml
Labels: triage, feature

#178 chore: Fix es.eslint.org build by upgrading binary deps
  package-lock.json
  package.json
  src/assets/css/components/accordion.css
  src/assets/css/components/buttons.css
  src/assets/css/components/card.css
  src/assets/css/components/hero.css
  src/assets/css/components/index.css
  src/assets/css/components/language-switcher.css
  src/assets/css/components/navigation.css
  src/assets/css/components/pagination.css
  src/assets/css/components/post-share.css
  src/assets/css/components/profile.css
  src/assets/css/components/search.css
  src/assets/css/components/slider.css
  src/assets/css/components/social-icons.css
  src/assets/css/components/swatches.css
  src/assets/css/components/theme-switcher.css
  src/assets/css/components/version-switcher.css
  src/assets/css/styles.css
  src/assets/css/tokens/spacing.css
  src/assets/css/tokens/themes.css
  src/assets/css/tokens/typography.css
  src/assets/css/tokens/ui.css
  src/assets/scss/tokens/themes.scss
Labels: triage, chore

#180 chore: Remove CSS files
  src/assets/css/components/accordion.css
  src/assets/css/components/alert.css
  src/assets/css/components/buttons.css
  src/assets/css/components/card.css
  src/assets/css/components/docs-index.css
  src/assets/css/components/docs-navigation.css
  src/assets/css/components/docs-resources.css
  src/assets/css/components/donations.css
  src/assets/css/components/hero.css
  src/assets/css/components/homepage.css
  src/assets/css/components/index.css
  src/assets/css/components/language-switcher.css
  src/assets/css/components/languages.css
  src/assets/css/components/navigation.css
  src/assets/css/components/pagination.css
  src/assets/css/components/post-share.css
  src/assets/css/components/profile.css
  src/assets/css/components/rules.css
  src/assets/css/components/search.css
  src/assets/css/components/slider.css
  src/assets/css/components/social-icons.css
  src/assets/css/components/sponsors.css
  src/assets/css/components/swatches.css
  src/assets/css/components/tabs.css
  src/assets/css/components/theme-switcher.css
  src/assets/css/components/toc.css
  src/assets/css/components/version-switcher.css
  src/assets/css/components/versions.css
  src/assets/css/print.css
  src/assets/css/styles.css
  src/assets/css/tokens/spacing.css
  src/assets/css/tokens/themes.css
  src/assets/css/tokens/typography.css
  src/assets/css/tokens/ui.css
Labels: triage, chore

#182 fix: robots.txt URL
  src/static/robots.njk
Labels: bug, triage

#181 chore: Simplify build command
  netlify.toml
Labels: triage, chore
