Repository eslint/eslint.org, pull requests merged in 2022-11, with the labels that each got.

#357 feat: Add zh-hans docs
  package-lock.json
  src/_data/links.json
  src/_data/sites/de.yml
  src/_data/sites/en.yml
  src/_data/sites/es.yml
  src/_data/sites/fr.yml
  src/_data/sites/hi.yml
  src/_data/sites/ja.yml
  src/_data/sites/pt-br.yml
  src/_data/sites/zh-hans.yml
  src/static/redirects.njk
Labels: triage, feature

#364 chore: enable `stylelint declaration-block-no-duplicate-properties`
  .stylelintrc.js
  src/assets/scss/animation.scss
  src/assets/scss/components/carbon-ads.scss
  src/assets/scss/components/playground-configuration.scss
  src/assets/scss/components/popup.scss
  src/assets/scss/components/search.scss
  src/assets/scss/forms.scss
  src/assets/scss/homepage.scss
  src/assets/scss/languages.scss
  src/assets/scss/syntax-highlighter.scss
  src/assets/scss/versions.scss
Labels: triage, chore

#363 chore: use same color notation as main repo
  .stylelintrc.js
Labels: triage, chore

#366 docs: Publish v8.27.0 release notes
  src/content/blog/2022-11-06-eslint-v8.27.0-released.md
Labels: documentation

#367 fix: open rule docs in new tab from the Popup component
  src/playground/components/Popup.js
Labels: bug, triage

#344 fix: wrong or duplicate focusable
  package-lock.json
  src/_includes/components/theme-switcher.html
  src/content/pages/index.html
  src/content/pages/sponsors.html
Labels: bug, triage

#369 fix: Redirect docs.eslint.org and cn.eslint.org
  src/_data/sites/en.yml
  src/static/redirects.njk
Labels: bug, accepted

#370 docs: Publish v8.28.0 release highlights
  src/content/blog/2022-11-18-eslint-v8.28.0-released.md
Labels: documentation, accepted

#372 docs: fix searchbar clearbutton
  src/assets/js/search.js
Labels: chore, accepted

#374 chore: add issue template configuration
  .github/ISSUE_TEMPLATE/config.yml
Labels: triage, chore

#373 chore: add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: triage, chore
