Repository eslint/eslint.org, pull requests merged in 2022-12, with the labels that each got.

#371 perf: debounce search
  src/assets/js/search.js
Labels: documentation, enhancement, chore, accepted

#375 docs: Publish v8.29.0 release highlights
  src/content/blog/2022-12-02-eslint-v8.29.0-released.md
Labels: documentation, accepted

#379 fix: show correct license in `package.json`
  package.json
Labels: bug, accepted

#377 chore: automatically add label
  .github/labeler.yml
  .github/workflows/label.yml
Labels: chore, accepted

#380 feat: switch language based on current path
  src/_includes/components/language-switcher.html
Labels: feature, accepted

#381 feat: add mastodon link
  package-lock.json
  src/_data/links.json
  src/_data/sites/de.yml
  src/_data/sites/en.yml
  src/_data/sites/es.yml
  src/_data/sites/fr.yml
  src/_data/sites/hi.yml
  src/_data/sites/ja.yml
  src/_data/sites/pt-br.yml
  src/_data/sites/zh-hans.yml
  src/_includes/components/social-icons.html
  src/playground/components/SocialIcons.js
Labels: feature, accepted, translation

#383 chore: update discord info in issue template
  .github/ISSUE_TEMPLATE/config.yml
Labels: triage, accepted

#385 fix: Add missing /chat/developers link
  src/static/redirects.njk
Labels: bug, accepted

#387 docs: Publish v8.30.0 release highlights
  src/content/blog/2022-12-16-eslint-v8.30.0-released.md
Labels: documentation, accepted

#386 fix: footer social icons layout with nowrap
  src/assets/scss/components/language-switcher.scss
  src/assets/scss/components/social-icons.scss
Labels: bug, triage, playground

#392 fix: use sponsor's GitHub username when name is missing
  src/_data/donations.json
  src/_data/sponsors.json
  tools/fetch-sponsors.js
Labels: bug, accepted

#391 fix: update example code
  src/content/blog/2022-08-05-new-config-system-part-2.md
Labels: bug, accepted

#393 fix: searchbar focus on `Esc` key press
  src/assets/js/search.js
Labels: bug, accepted

#396 docs: Publish v8.31.0 release highlights
  src/content/blog/2022-12-31-eslint-v8.31.0-released.md
Labels: documentation, accepted
