Repository eslint/eslint.org, pull requests merged in 2022-06, with the labels that each got.

#224 fix: 501c3 -> 501c6
  src/_data/sites/en.yml
  src/_data/sites/es.yml
  src/_data/sites/fr.yml
  src/_data/sites/hi.yml
  src/_data/sites/ja.yml
  src/_data/sites/zh-cn.yml
Labels: bug, triage

#221 chore: Add Google Analytics to French site
  src/_data/sites/fr.yml
Labels: triage, chore

#226 fix: overlapping slider nav
  src/assets/scss/components/slider.scss
Labels: bug, triage

#227 chore: update package.json
  package.json
Labels: triage, chore

#228 chore: Redirects for version-specific docs
  src/static/redirects.njk
Labels: triage, chore

#229 fix: Blog images for sponsorship posts
  src/assets/images/blog-covers/sponsorship-automattic.png
  src/assets/images/blog-covers/sponsorship-contra.png
  src/assets/images/blog-covers/sponsorship-funding.png
  src/assets/images/blog-covers/sponsorship-funding2.png
  src/assets/images/blog-covers/sponsorship-indeed.png
  src/assets/images/blog-covers/sponsorship-nx.png
  src/assets/images/blog-covers/sponsorship-salesforce.png
  src/content/blog/2019-02-12-funding-eslint-future.md
  src/content/blog/2019-05-01-funding-update.md
  src/content/blog/2019-09-09-indeed-donates-10000-to-eslint.md
  src/content/blog/2020-08-06-salesforce-donates-10000-to-eslint.md
  src/content/blog/2020-08-13-microsoft-donates-10000-to-eslint.md
  src/content/blog/2020-12-10-automattic-platinum-sponsor-eslint.md
  src/content/blog/2021-01-13-chrome-gold-sponsor-eslint.md
  src/content/blog/2021-02-18-nx-gold-sponsor-eslint.md
  src/content/blog/2021-12-01-contra-gold-sponsor-eslint.md
Labels: bug, triage

#223 build: compress build css and remove unwanted parallel
  package.json
Labels: triage, chore, build

#234 ci: update github actions
  .github/workflows/data-fetch.yml
Labels: triage, build

#225 fix: show navlist when script disabled
  src/_includes/components/navigation.html
  src/_includes/layouts/base.html
  src/assets/scss/components/index.scss
  src/assets/scss/components/navigation.scss
  src/content/pages/index.html
Labels: bug, triage

#235 feat: add sitemap index file
  .eleventy.js
  src/content/pages/branding.html
  src/content/pages/donate.html
  src/content/pages/index.html
  src/content/pages/languages.html
  src/content/pages/sponsors.html
  src/content/pages/team.html
  src/static/robots.njk
  src/static/sitemap-index.njk
  src/static/sitemap.njk
Labels: triage, feature

#236 feat: Update blog posts and authors file
  src/_data/all_authors.json
  src/content/blog/2022-02-11-eslint-v8.9.0-released.md
  src/content/blog/2022-02-23-paying-contributors-sponsoring-projects.md
  src/content/blog/2022-02-25-eslint-v8.10.0-released.md
  src/content/blog/2022-03-11-eslint-v8.11.0-released.md
  src/content/blog/2022-03-25-eslint-v8.12.0-released.md
  src/content/blog/2022-04-08-eslint-v8.13.0-released.md
  src/content/blog/2022-04-22-eslint-v8.14.0-released.md
  src/content/blog/2022-05-06-eslint-v8.15.0-released.md
  src/content/blog/2022-05-20-eslint-v8.16.0-released.md
  src/content/blog/2022-06-03-eslint-v8.17.0-released.md
  src/content/blog/2022-06-17-eslint-v8.18.0-released.md
Labels: triage, feature

#237 feat!: Switch domain name to eslint.org
  src/_data/sites/en.yml
Labels: triage, feature, breaking

#241 chore: update repo url
  README.md
  package.json
Labels: triage, chore

#247 chore: Carbon ads for fr.eslint.org
  src/_data/sites/fr.yml
Labels: triage, chore

#245 fix: Open Graph URL on all pages
  src/_includes/layouts/base.html
Labels: bug, accepted

#239 feat: Add instructions for guest posts
  .eleventy.js
  src/_11ty/collections/blogposts.js
  src/_includes/partials/author_bios/eslintbot.md
  src/content/drafts/README.md
  src/content/pages/blog.html
  src/static/redirects.njk
  tools/add-author.js
Labels: feature, accepted

#249 fix: Ensure landing page h1 element is exposed to assistive technologies
  src/content/pages/index.html
Labels: bug, triage

#250 chore: Improve Carbon ad style
  src/assets/scss/components/carbon-ads.scss
Labels: triage, chore
