Repository eslint/eslint.org, pull requests merged in 2022-07, with the labels that each got.

#252 docs: Add v8.19.0 highlights
  src/content/blog/2022-07-01-eslint-v8.19.0-released.md
Labels: documentation, triage

#251 feat: Translation to PT-BR (fixes #242)
  package-lock.json
  src/_data/sites/pt-br.yml
Labels: triage, feature

#240 feat: blog: Interesting Bugs Caught by no-constant-binary-expression
  src/_data/all_authors.json
  src/_includes/partials/author_bios/captbaritone.md
  src/content/drafts/interesting-bugs-caught-by-no-constant-binary-expression.md
Labels: triage, feature

#262 add `captbaritone` to author
  src/_data/all_authors.json
Labels: triage, build

#258 chore: Schedule post
  src/_11ty/collections/blogposts.js
  src/content/blog/2022-07-06-interesting-bugs-caught-by-no-constant-binary-expression.md
Labels: chore, accepted

#256 chore: Update btmills bio
  src/_includes/partials/author_bios/btmills.md
Labels: triage, chore

#259 Adding 'from_the_blog' snippet translation in ja
  src/_data/sites/ja.yml
Labels: documentation, triage

#255 chore: Ensure authors are never overwritten
  src/_data/all_authors.json
  tools/fetch-team-data.js
Labels: chore, accepted

#261 chore: preselect default theme
  src/assets/js/themes.js
Labels: documentation, triage, chore

#264 fix: Remove parentheses in example that were not present in actual code
  src/content/blog/2022-07-06-interesting-bugs-caught-by-no-constant-binary-expression.md
Labels: bug, triage

#263 fix: Blog column overflowing
  src/_includes/layouts/post.html
  src/assets/scss/blog.scss
Labels: bug, triage

#253 chore: Enable Nunjucks throwOnUndefined
  .eleventy.js
  src/_data/sites/fr.yml
  src/_data/sites/pt-br.yml
  src/_includes/partials/blog-categories.html
  src/content/blog/2015-07-15-eslint-1.0.0-rc-1-released.md
  src/content/blog/2018-01-19-eslint-v4.16.0-released.md
  src/content/library/card.md
  src/content/pages/component-library.html
  src/content/pages/sponsors.html
Labels: triage, chore

#272 docs: Publish v8.20.0 release highlights
  src/content/blog/2022-07-16-eslint-v8.20.0-released.md
Labels: documentation, triage

#274 fix: correct feed page
  src/static/feed.njk
Labels: bug, triage

#271 docs: add anchors for blogs
  src/_includes/layouts/post.html
Labels: documentation, triage, feature

#276 fix: set reference to view_all_posts
  src/_includes/partials/from-the-blog.html
Labels: bug, triage

#275 fix: update description of donate page
  src/_data/sites/en.yml
Labels: bug, triage

#268 feat: migrate playground to eslint.org
  .babelrc
  .eleventyignore
  .eslintignore
  .eslintrc.js
  .github/workflows/ci.yml
  README.md
  package-lock.json
  package.json
  src/_includes/layouts/main.html
  src/assets/scss/components/alert.scss
  src/assets/scss/components/playground-configuration.scss
  src/assets/scss/components/popup.scss
  src/assets/scss/footer.scss
  src/assets/scss/forms.scss
  src/assets/scss/playground-layout.scss
  src/assets/scss/styles.scss
  src/assets/scss/tokens/themes.scss
  src/content/pages/playground.html
  src/playground/App.js
  src/playground/components/Alert.js
  src/playground/components/CodeEditor.js
  src/playground/components/Configuration.js
  src/playground/components/CrashAlert.js
  src/playground/components/Footer.js
  src/playground/components/Popup.js
  src/playground/components/RuleItem.js
  src/playground/components/ShareURL.js
  src/playground/components/SocialIcons.js
  src/playground/components/ThemeSwitcher.js
  src/playground/index.js
  src/playground/package.json
  src/playground/scss/editor.scss
  src/playground/scss/split-pane.scss
  src/playground/utils/codemirror-linter-extension.js
  src/playground/utils/codemirror-theme.js
  src/playground/utils/constants.js
  src/playground/utils/unicode.js
  src/static/redirects.njk
  webpack.config.js
Labels: feature, accepted

#284 feat: optimize share url button
  src/assets/scss/components/playground-configuration.scss
Labels: feature, accepted
