Repository eslint/eslint.org, pull requests merged in 2022-08, with the labels that each got.

#290 docs: Publish v8.21.0 release highlights
  src/content/blog/2022-08-01-eslint-v8.21.0-released.md
Labels: documentation, triage

#287 docs: update some wording and grammar of zh
  src/_data/sites/zh-cn.yml
Labels: documentation, triage

#288 perf: optimize image assets
  src/assets/images/chart.svg
  src/assets/images/icons/arrow-left.svg
  src/assets/images/icons/arrow-right.svg
  src/assets/images/icons/arrow-top-right.svg
  src/assets/images/icons/chevron-down.svg
  src/assets/images/icons/copy.svg
  src/assets/images/icons/correct.svg
  src/assets/images/icons/discord.svg
  src/assets/images/icons/facebook.svg
  src/assets/images/icons/features-list-icon.svg
  src/assets/images/icons/github-icon-mono.svg
  src/assets/images/icons/github-img.svg
  src/assets/images/icons/github-large.svg
  src/assets/images/icons/github-small.svg
  src/assets/images/icons/github.svg
  src/assets/images/icons/google.svg
  src/assets/images/icons/incorrect.svg
  src/assets/images/icons/languages.svg
  src/assets/images/icons/learn-more-arrow.svg
  src/assets/images/icons/link.svg
  src/assets/images/icons/linkedin.svg
  src/assets/images/icons/menu.svg
  src/assets/images/icons/minus-circle.svg
  src/assets/images/icons/npm.svg
  src/assets/images/icons/open-collectione-mono.svg
  src/assets/images/icons/opencollective-img.svg
  src/assets/images/icons/plus-circle.svg
  src/assets/images/icons/search.svg
  src/assets/images/icons/twitter.svg
  src/assets/images/logo/brand-colors.svg
  src/assets/images/logo/eslint-logo-color.svg
  src/assets/images/logo/eslint-logo-white.svg
  src/assets/images/money-spenditure-graph.svg
  src/assets/images/people/_placeholder-avatar.svg
  src/assets/images/squiggly-line.svg
  src/assets/images/techsponsors/1password-icon.svg
  src/assets/images/techsponsors/1password.svg
  src/assets/images/techsponsors/algolia-icon.svg
  src/assets/images/techsponsors/algolia.svg
  src/assets/images/techsponsors/netlify-icon.svg
  src/assets/images/techsponsors/netlify.svg
Labels: triage, chore

#293 pref: Minify images recursively
  src/assets/images/icons/discord.svg
  src/assets/images/icons/github-icon-mono.svg
  src/assets/images/logo/eslint-logo-color.svg
  src/assets/images/logo/eslint-logo-white.svg
  src/assets/images/techsponsors/1password-icon.svg
  src/assets/images/techsponsors/1password.svg
  src/assets/images/techsponsors/netlify-icon.svg
  src/assets/images/techsponsors/netlify.svg
  src/static/icon.svg
Labels: triage, chore

#291 feat: blog: New Config system, part 1
  src/content/blog/2022-08-03-new-config-system-part-1.md
Labels: triage, feature

#289 feat: blog: Redesigning ESLint
  src/_data/all_authors.json
  src/_includes/partials/author_bios/haydenbleasel.md
  src/assets/images/blog/2022/eslint-colors.png
  src/assets/images/blog/2022/eslint-docs.png
  src/assets/images/blog/2022/eslint-logo-animation.gif
  src/assets/images/blog/2022/eslint-playground.png
  src/assets/images/blog/2022/eslint-website-home.png
  src/assets/images/blog/2022/homepage-animation.gif
  src/assets/images/blog/2022/logo-mockup.png
  src/assets/images/blog/2022/space-grotesk.png
  src/assets/images/blog/2022/spacemono-satellites.gif
  src/content/drafts/redesigning-eslint.md
Labels: triage, feature

#286 build: enable webpack persistent cache
  webpack.config.js
Labels: triage, build

#296 feat: blog: New config system part 2
  src/content/blog/2022-08-03-new-config-system-part-1.md
  src/content/blog/2022-08-05-new-config-system-part-2.md
Labels: triage, feature

#285 feat: add website and support team on team page
  src/_data/all_authors.json
  src/_data/sites/en.yml
  src/_data/sites/es.yml
  src/_data/sites/fr.yml
  src/_data/sites/hi.yml
  src/_data/sites/ja.yml
  src/_data/sites/pt-br.yml
  src/_data/sites/zh-cn.yml
  src/_data/team.json
  src/content/pages/team.html
  tools/fetch-team-data.js
Labels: feature, accepted, fetch data

#294 fix: invoke `focus` only on recently added rule
  src/playground/components/Configuration.js
  src/playground/components/RuleItem.js
  src/playground/components/RuleList.js
Labels: bug, accepted

#300 fix: missing characters while typing in code editor
  src/playground/App.js
  src/playground/utils/debounce.js
Labels: accepted

#303 feat: update wording of flat config blog post
  src/content/blog/2022-08-05-new-config-system-part-2.md
Labels: triage, feature

#297 feat: blog: New config system, part 3
  src/content/blog/2022-08-05-new-config-system-part-2.md
  src/content/blog/2022-08-08-new-config-system-part-3.md
Labels: triage, feature

#302 fix: `Uncaught TypeError` trying to access body from head tag in windows
  src/_includes/layouts/base.html
Labels: bug, accepted

#305 fix: Uncaught TypeError: Cannot read properties of null (reading 'setAttribute')
  src/_includes/layouts/base.html
Labels: bug, triage

#306 feat: optimize search result
  src/assets/js/search.js
Labels: triage, feature

#282 feat: German texts/translations (#187)
  src/_data/sites/de.yml
Labels: triage, feature

#314 fix: build failure
  src/content/pages/index.html
Labels: bug, triage

#315 docs: Publish v8.22.0 release highlights
  src/content/blog/2022-08-13-eslint-v8.22.0-released.md
Labels: documentation, triage

#311 feat: Use property language names
  package-lock.json
  src/_data/sites/de.yml
  src/_data/sites/en.yml
  src/_data/sites/hi.yml
  src/_data/sites/pt-br.yml
  src/_data/sites/zh-cn.yml
  src/_includes/components/language-switcher.html
  src/_includes/partials/languages-list.html
Labels: triage, feature

#313 fix: `No options` dropdown background appears white in dark mode
  src/playground/components/Configuration.js
Labels: bug, triage

#316 chore: rename `zh-cn` to `zh-hans`
  src/_data/sites/zh-hans.yml
Labels: triage, chore

#319 style: auto complete of playground editor
  src/playground/scss/editor.scss
  src/playground/utils/codemirror-theme.js
Labels: triage, chore

#322 chore: check webpack config type
  webpack.config.js
Labels: triage, chore

#318 feat: Update install command and font.
  src/_includes/layouts/base.html
  src/assets/fonts/Consolas.woff
  src/assets/scss/syntax-highlighter.scss
  src/assets/scss/tokens/typography.scss
  src/content/pages/index.html
Labels: triage, feature

#325 chore: lint .eleventy.js file
  .eleventy.js
  .eslintignore
Labels: triage, chore

#326 chore: update name and description field
  package.json
Labels: triage, chore

#321 feat: add keyboard controls to blog search
  src/assets/js/search.js
  src/assets/scss/components/search.scss
Labels: feature, accepted, contributor pool

#323 feat: add collapsibles for right panel contents
  src/assets/scss/components/playground-configuration.scss
  src/playground/components/Configuration.js
  src/playground/components/ShareURL.js
Labels: triage, feature

#327 feat: make card cover can't reachable via `Tab`
  src/_includes/components/card.macro.html
Labels: triage, feature

#332 docs: Publish v8.23.0 release highlights
  src/content/blog/2022-08-26-eslint-v8.23.0-released.md
Labels: documentation, triage

#335 fix: ESM import syntax in blog post
  src/content/blog/2022-08-08-new-config-system-part-3.md
Labels: bug, accepted
