Repository eslint/eslint.org, pull requests merged in 2022-02, with the labels that each got.

#120 docs: make further weekly downloads numbers dynamic
  src/content/pages/index.html
Labels: documentation

#122 fix: og:image
  src/_includes/layouts/base.njk
Labels: bug, triage

#115 fix: github icon alignment with text
  src/_includes/layouts/base.njk
  src/_includes/layouts/components.html
  src/_includes/partials/carbon-ad.html
  src/assets/css/components/hero.css
  src/assets/css/components/homepage.css
  src/assets/css/components/index.css
  src/assets/css/styles.css
  src/assets/js/components-index.js
  src/assets/js/main.js
  src/assets/scss/components/hero.scss
  src/assets/scss/components/homepage.scss
  src/assets/scss/components/index.scss
  src/content/pages/component-library.md
  src/content/pages/index.html
Labels: bug, triage

#125 chore: Add script to fetch sponsors
  package.json
  src/_data/donations.json
  src/_data/sponsors.json
  src/_includes/components/donation.macro.html
  src/content/pages/index.html
  src/content/pages/sponsors.html
  tools/fetch-sponsors.js
Labels: triage, chore

#126 fix: Clean up text on homepage and reduce duplication
  src/content/pages/index.html
Labels: bug, triage

#123 fix: focus outlines
  src/assets/css/styles.css
  src/assets/scss/_foundations.scss
  src/assets/scss/_prism-syntax-highlighter.scss
Labels: bug, triage

#129 feat: increase tappable area on mobile nav links
  src/assets/css/components/navigation.css
  src/assets/css/styles.css
  src/assets/scss/components/navigation.scss
Labels: triage, feature

#131 chore: More efficient donations fetch script
  src/_data/donations.json
  src/_data/sponsors.json
  tools/fetch-sponsors.js
Labels: triage, chore

#130 fix: Accurate pie chart and updated budget
  src/_data/budget.json
  src/assets/images/chart.svg
  src/content/pages/donate.md
Labels: bug, triage

#133 feat: Search
  .eleventy.js
  package-lock.json
  package.json
  src/_includes/components/search.html
  src/_includes/layouts/base.njk
  src/assets/css/components/search.css
  src/assets/css/styles.css
  src/assets/js/search.js
  src/assets/scss/components/search.scss
Labels: triage, feature
