Repository eslint/eslint.org, pull requests merged in 2022-04, with the labels that each got.

#186 chore: Setup Google Analytics 4
  src/_data/sites/en.yml
  src/_includes/layouts/base.html
  src/_includes/partials/analytics.html
Labels: triage, chore

#188 fix: Ensure search only searches blog posts
  src/assets/js/search.js
Labels: bug, triage

#192 fix: check if blog post authors are specified in fetch-team-data script
  tools/fetch-team-data.js
Labels: bug, accepted

#189 docs: add link to license in README
  README.md
Labels: documentation, triage

#194 fix: fix color of selection in copy
  src/assets/scss/homepage.scss
Labels: bug, accepted

#193 docs: Japanese translation v0.1 - still needs brush-up
  src/_data/sites/ja.yml
Labels: documentation, triage

#198 fix: theme buttons in chinese
  src/assets/scss/components/theme-switcher.scss
Labels: bug, triage

#196 fix: theme flashing
  src/assets/js/themes.js
Labels: bug, triage

#200 chore: Update robots.txt and _redirects
  src/static/redirects.njk
  src/static/robots.njk
Labels: triage, chore
