Repository eslint/eslint.org, pull requests merged in 2023-11, with the labels that each got.

#489 docs: Publish v8.53.0 release highlights
  src/_includes/partials/author_bios/mdjermanovic.md
  src/content/blog/2023-11-03-eslint-v8.53.0-released.md
Labels: documentation, accepted

#490 fix: playground link
  src/playground/components/SocialIcons.js
Labels: bug, accepted

#488 feat: What's coming in ESLint v9.0.0
  src/content/blog/2023-11-07-whats-coming-in-eslint-9.0.0.md
Labels: feature

#493 fix: sliver sponsor image size is too large
  src/assets/scss/sponsors.scss
Labels: bug

#494 docs: Publish v8.54.0 release highlights
  src/content/blog/2023-11-17-eslint-v8.54.0-released.md
Labels: documentation, accepted

#495 fix: Add flex-basis and flex-grow to social icons and language switcher
  src/assets/scss/components/language-switcher.scss
  src/assets/scss/components/social-icons.scss
Labels: bug
