Repository eslint/eslint.org, pull requests merged in 2023-04, with the labels that each got.

#430 docs: Publish v8.38.0 release highlights
  src/content/blog/2023-04-07-eslint-v8.38.0-released.md
Labels: documentation, accepted

#429 feat: live reload for playground editor
  .gitignore
  webpack.config.js
Labels: feature, accepted, playground

#432 docs: Publish v8.39.0 release highlights
  src/content/blog/2023-04-21-eslint-v8.39.0-released.md
Labels: documentation, accepted

#433 fix: add reference to zh-hans docs sitemap
  src/static/sitemap-index.njk
Labels: bug, accepted

#434 fix: enable docs IA update redirects for zh-hans site
  src/static/redirects.njk
Labels: bug, accepted
