Repository eslint/eslint.org, pull requests merged in 2023-03, with the labels that each got.

#416 docs: detect and fix broken links
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/_includes/components/testimonials-slider.html
  src/_includes/layouts/base.html
  src/content/pages/donate.html
  tools/validate-links.js
Labels: documentation, accepted

#421 chore: remove duplicate scss
  .stylelintrc.js
  src/assets/scss/blog.scss
  src/assets/scss/components/theme-switcher.scss
  src/assets/scss/donations.scss
  src/assets/scss/forms.scss
  src/assets/scss/foundations.scss
  src/assets/scss/playground-layout.scss
  src/assets/scss/tokens/typography.scss
  src/playground/scss/editor.scss
Labels: enhancement, chore, accepted

#424 docs: Publish v8.36.0 release highlights
  src/content/blog/2023-03-10-eslint-v8.36.0-released.md
Labels: documentation, accepted

#425 feat: Add eslint-community channel redirect
  src/static/redirects.njk
Labels: feature, accepted

#402 feat: blog: ESLint Community org announcement
  src/_data/all_authors.json
  src/_includes/partials/author_bios/MichaelDeBoey.md
  src/content/drafts/eslint-community-org.md
Labels: feature, accepted

#428 docs: Publish v8.37.0 release highlights
  src/content/blog/2023-03-28-eslint-v8.37.0-released.md
Labels: documentation
