Repository eslint/eslint.org, pull requests merged in 2023-10, with the labels that each got.

#474 feat: upgrade to 11ty 2.0
  package-lock.json
  package.json
Labels: feature

#476 docs: Publish v8.51.0 release highlights
  src/content/blog/2023-10-06-eslint-v8.51.0-released.md
Labels: documentation, accepted

#475 feat: Announce flat config rollout
  src/content/blog/2023-10-10-flat-config-rollout-plans.md
Labels: feature, accepted

#480 docs: Publish v8.52.0 release highlights
  src/content/blog/2023-10-20-eslint-v8.52.0-released.md
Labels: documentation, accepted

#483 feat: Add plugin migration guide to post
  src/content/blog/2023-10-10-flat-config-rollout-plans.md
Labels: feature

#485 chore: Remove unnecessary dependencies
  .eleventy.js
  package.json
Labels: chore

#482 feat: Post announcing formatting rules deprecation
  src/content/blog/2023-10-26-deprecating-formatting-rules.md
Labels: feature
