Repository eslint/eslint.org, pull requests merged in 2023-08, with the labels that each got.

#463 chore: Remove add-to-triage
  .github/workflows/add-to-triage.yml
Labels: chore, accepted

#464 chore: added editor config
  .editorconfig
Labels: chore, accepted

#455 fix: OC sponsors fetch for cancelled orders
  tools/fetch-sponsors.js
Labels: bug, accepted

#465 chore: Revert OC sponsors fetch changes
  tools/fetch-sponsors.js
Labels: chore

#466 fix: fix styling on home page
  src/assets/scss/homepage.scss
Labels: bug, accepted

#467 feat: Release v8.47.0 blog post
  src/content/blog/2023-08-11-eslint-v8.47.0-released.md
Labels: feature

#461 chore: standardize npm script names
  .github/workflows/ci.yml
  package.json
Labels: chore, accepted

#468 docs: Publish v8.48.0 release highlights
  src/content/blog/2023-08-25-eslint-v8.48.0-released.md
Labels: documentation, accepted
