Repository eslint/eslint.org, pull requests merged in 2023-12, with the labels that each got.

#497 docs: Publish v8.55.0 release highlights
  src/content/blog/2023-12-01-eslint-v8.55.0-released.md
Labels: documentation, accepted

#498 chore: make latest version on homepage clickable
  src/_data/sites/de.yml
  src/_data/sites/en.yml
  src/_data/sites/es.yml
  src/_data/sites/fr.yml
  src/_data/sites/hi.yml
  src/_data/sites/ja.yml
  src/_data/sites/pt-br.yml
  src/_data/sites/zh-hans.yml
  src/assets/scss/utilities.scss
  src/content/pages/index.html
Labels: chore, translation

#500 docs: Publish v8.56.0 release highlights
  src/content/blog/2023-12-15-eslint-v8.56.0-released.md
Labels: documentation, accepted

#501 feat: show prerelease as the upcoming version
  src/_data/stats.json
  tools/fetch-stats.js
  tools/release-data.js
Labels: feature

#502 feat: show current prerelease version
  src/_data/sites/de.yml
  src/_data/sites/en.yml
  src/_data/sites/es.yml
  src/_data/sites/fr.yml
  src/_data/sites/hi.yml
  src/_data/sites/ja.yml
  src/_data/sites/pt-br.yml
  src/_data/sites/zh-hans.yml
  src/_data/stats.json
  src/content/pages/index.html
  tools/fetch-stats.js
Labels: feature, accepted, translation

#503 feat: enable `docs/next`
  src/_data/sites/de.yml
  src/_data/sites/en.yml
  src/_data/sites/es.yml
  src/_data/sites/fr.yml
  src/_data/sites/hi.yml
  src/_data/sites/ja.yml
  src/_data/sites/pt-br.yml
  src/_data/sites/zh-hans.yml
  src/static/redirects.njk
Labels: feature, translation

#504 docs: Publish v9.0.0-alpha.0 release highlights
  src/content/blog/2023-12-29-eslint-v9.0.0-alpha.0-released.md
Labels: documentation

#505 docs: update stats for v9 prerelease
  src/_data/stats.json
Labels: documentation
