Repository eslint/eslint.org, pull requests merged in 2023-01, with the labels that each got.

#399 fix: local dev broken issue
  package.json
  src/_data/helpers.js
Labels: bug, triage

#398 feat: blog: 2022 year in review
  src/content/blog/2023-01-10-eslint-2022-year-review.md
Labels: feature, accepted

#401 fix: adjust word order and enable animation on zh-hans
  src/_data/sites/zh-hans.yml
Labels: bug, accepted, translation

#403 chore: Remove Google Group
  src/_includes/components/social-icons.html
Labels: chore, accepted

#388 docs: add redirects for docs IA update
  src/static/redirects.njk
Labels: documentation, accepted

#404 docs: Publish v8.32.0 release highlights
  src/content/blog/2023-01-14-eslint-v8.32.0-released.md
Labels: documentation, triage

#406 chore: remove google group icon from playground footer
  src/assets/scss/components/social-icons.scss
  src/playground/components/SocialIcons.js
Labels: chore, accepted

#407 chore: adds triage workflow
  .github/workflows/add-to-triage.yml
Labels: chore, accepted

#308 feat: add multiselect to choose rules
  src/playground/components/Configuration.js
Labels: feature, accepted

#409 docs: Redirect 'Get the Source Code' to 'Set up Development Environment'
  src/static/redirects.njk
Labels: documentation, accepted

#410 docs: Publish v8.33.0 release highlights
  src/content/blog/2023-01-28-eslint-v8.33.0-released.md
Labels: documentation
