Repository eslint/eslint.org, pull requests merged in 2023-07, with the labels that each got.

#452 feat: show website and mastodon link in team and post page
  src/_data/all_authors.json
  src/_data/team.json
  src/_includes/components/profile.macro.html
  src/content/pages/team.html
  tools/fetch-team-data.js
Labels: feature, accepted

#451 feat: allow partial configs in playground URL
  src/playground/App.js
Labels: feature, accepted

#453 fix: use empty options in the Playground when URL contains only text
  src/playground/App.js
Labels: bug, accepted

#454 fix: Exclude private sponsors from list
  tools/fetch-sponsors.js
Labels: bug, accepted

#456 chore: Add PRs to triage
  .github/workflows/add-to-triage.yml
Labels: chore

#458 feat: update v8.46.0 release post
  src/content/blog/2023-07-28-eslint-v8.46.0-released.md
Labels: feature

#460 fix: typo in 2023-07-28-eslint-v8.46.0-released.md
  src/content/blog/2023-07-28-eslint-v8.46.0-released.md
Labels: bug, accepted
