Repository eslint/eslint.org, pull requests merged in 2023-02, with the labels that each got.

#411 fix: display of nav toggle button
  src/assets/scss/components/index.scss
Labels: bug, documentation, accepted

#412 fix: nav-links alignment
  src/assets/scss/components/navigation.scss
  src/assets/scss/header.scss
Labels: documentation, accepted

#413 chore: remove mention of mailing list
  src/_data/links.json
  src/_data/sites/de.yml
  src/_data/sites/en.yml
  src/_data/sites/es.yml
  src/_data/sites/fr.yml
  src/_data/sites/hi.yml
  src/_data/sites/ja.yml
  src/_data/sites/pt-br.yml
  src/_data/sites/zh-hans.yml
  src/content/blog/2014-06-21-formatter-breaking-change.md
  src/content/blog/2018-11-27-jsdoc-end-of-life.md
Labels: triage, chore, translation

#415 docs: Publish v8.34.0 release highlights
  src/content/blog/2023-02-10-eslint-v8.34.0-released.md
Labels: documentation, accepted

#417 fix: different size of animation image
  src/assets/js/animation.js
  src/assets/scss/animation.scss
Labels: bug, triage

#418 ci: use LTS node version in workflows
  .github/workflows/ci.yml
  .github/workflows/data-fetch.yml
Labels: triage, build

#420 docs: Publish v8.35.0 release highlights
  src/content/blog/2023-02-26-eslint-v8.35.0-released.md
Labels: documentation, triage
