Repository eslint/eslint.org, pull requests merged in 2024-12, with the labels that each got.

#666 fix: use higher contrast color tokens for code comments
  src/assets/scss/syntax-highlighter.scss
  src/assets/scss/tokens/themes.scss
Labels: bug, accepted

#669 feat: add Bluesky to social networks
  src/_data/all_authors.json
  src/_data/links.json
  src/_data/sites/de.yml
  src/_data/sites/en.yml
  src/_data/sites/es.yml
  src/_data/sites/fr.yml
  src/_data/sites/hi.yml
  src/_data/sites/ja.yml
  src/_data/sites/pt-br.yml
  src/_data/sites/zh-hans.yml
  src/_data/team.json
  src/_includes/components/post-share.html
  src/_includes/components/profile.macro.html
  src/_includes/components/social-icons.html
  src/_includes/layouts/post.html
  src/content/pages/team.html
  src/playground/components/SocialIcons.js
Labels: feature, translation

#674 feat: reduced hero vertical padding
  src/assets/scss/components/hero.scss
Labels: feature, accepted

#672 fix: Overflow Issue by Adjusting Social Icon Spacing
  src/assets/scss/components/social-icons.scss
Labels: bug

#677 refactor: search result handling with better event listener cleanup
  src/assets/js/search.js
Labels: chore, accepted

#678 feat: add option for custom release dates
  src/_data/stats.json
  tools/fetch-stats.js
  tools/release-data.js
Labels: feature, accepted
