Repository eslint/eslint.org, pull requests merged in 2024-10, with the labels that each got.

#629 feat: blog: Code review nit to ecosystem improvements
  src/content/drafts/code-review-nit-to-ecosystem-improvements.md
Labels: feature

#642 feat: blog: Announcing JSON and Markdown linting
  src/assets/images/blog/2024/code-explorer.png
  src/content/blog/2024-10-03-eslint-json-markdown-support.md
Labels: feature, accepted

#646 fix: Don't deploy future blog posts in production
  .eleventy.js
  eslint.config.js
  src/_11ty/collections/blogposts.js
Labels: bug

#645 feat: Schedule blog post
  src/content/blog/2024-10-08-code-review-nit-to-ecosystem-improvements.md
Labels: feature

#638 feat: Prerender sponsors for READMEs
  .github/workflows/data-fetch.yml
  includes/sponsors.md
  package-lock.json
  package.json
  tools/commit-data.sh
  tools/generate-sponsors.js
Labels: feature, accepted

#647 docs: Publish v9.12.0 release highlights
  src/content/blog/2024-10-04-eslint-v9.12.0-released.md
Labels: documentation

#643 feat: Updates for v8 EOL
  src/_includes/layouts/base.html
  src/content/pages/version-support.md
Labels: feature, accepted

#648 chore: Update prerendered sponsors layout
  includes/sponsors.md
  tools/generate-sponsors.js
Labels: chore, accepted

#650 chore: Block inappropriate Open Collective contributors
  src/_data/blocked-sponsors.json
Labels: chore, accepted

#651 docs: Publish v9.13.0 release highlights
  src/content/blog/2024-10-18-eslint-v9.13.0-released.md
Labels: documentation

#652 chore: Upgrade eslint plugins, remove `@eslint/compat`
  eslint.config.js
  package-lock.json
  package.json
Labels: chore, accepted

#654 chore: Add sponsors to README
  README.md
  tools/commit-data.sh
  tools/generate-sponsors.js
Labels: chore, accepted

#656 fix: Display and calculation of sponsors
  src/_data/sponsors.json
  src/content/pages/sponsors.html
  tools/fetch-sponsors.js
Labels: bug, accepted
