Repository eslint/eslint.org, pull requests merged in 2024-08, with the labels that each got.

#610 fix: page number in blog's url
  src/content/pages/blog.html
Labels: bug

#609 feat: add EOF banner
  src/_includes/layouts/base.html
  src/assets/scss/homepage.scss
Labels: feature, accepted

#546 feat: add disable rule button in playground messages
  src/assets/scss/components/alert.scss
  src/playground/App.js
  src/playground/components/Alert.js
  src/playground/components/Configuration.js
Labels: feature, accepted, translation, contributor pool

#611 docs: Publish v9.9.0 release highlights
  src/content/blog/2024-08-09-eslint-v9.9.0-released.md
Labels: documentation

#613 feat: Add search option on all blog categories
  src/_includes/layouts/base.html
  src/_includes/layouts/category.html
  src/content/pages/generate-categories.njk
Labels: feature

#615 fix: make algolia link not reachable via tab key
  src/_includes/components/search.html
Labels: bug

#618 docs: publish v9.9.1 release highlights
  src/content/blog/2024-08-23-eslint-v9.9.1-released.md
Labels: documentation
