Repository eslint/eslint.org, pull requests merged in 2024-07, with the labels that each got.

#596 feat: add ECMA Version 2025 to Playground
  src/playground/utils/constants.js
Labels: accepted

#595 chore: Add Powered by Algolia label to the search
  src/_includes/components/search.html
  src/assets/scss/components/search.scss
Labels: chore

#597 feat: What's coming blog post
  src/content/blog/2024-07-05-whats-coming-next-for-eslint.md
Labels: feature, accepted

#602 docs: Publish v9.7.0 release highlights
  src/content/blog/2024-07-12-eslint-v9.7.0-released.md
Labels: documentation

#603 fix: fix search input stylings
  src/assets/scss/components/search.scss
Labels: bug

#604 docs: fix typo in blog post
  src/content/blog/2024-07-05-whats-coming-next-for-eslint.md
Labels: documentation

#605 chore: upgrade eslint-plugin-react@7.35.0
  eslint.config.js
  package-lock.json
  package.json
Labels: chore, accepted

#607 feat: set web app title for apple mobile
  src/_includes/layouts/base.html
  src/static/apple-touch-icon.png
Labels: feature

#608 docs: publish v9.8.0 release highlights
  src/content/blog/2024-07-26-eslint-v9.8.0-released.md
Labels: documentation
