Repository eslint/eslint.org, pull requests merged in 2024-01, with the labels that each got.

#508 docs: Update v9.0.0-alpha.1 highlights
  src/content/blog/2024-01-12-eslint-v9.0.0-alpha.1-released.md
Labels: documentation

#510 chore: use Node.js 20
  .nvmrc
  package-lock.json
  package.json
Labels: chore

#513 fix: treat outgoing donation as incoming donation
  tools/fetch-sponsors.js
Labels: bug

#516 docs: Publish v9.0.0-alpha.2 release highlights
  src/content/blog/2024-01-26-eslint-v9.0.0-alpha.2-released.md
Labels: documentation

#515 fix: Ensure all sponsorships are pulled from GitHub
  .gitignore
  src/_data/sponsors.json
  tools/fetch-sponsors.js
Labels: bug, accepted

#462 feat: Add "Enable all rules" option in playground
  src/assets/scss/components/playground-configuration.scss
  src/playground/App.js
  src/playground/components/Configuration.js
  src/playground/components/RuleList.js
Labels: feature, accepted
