Repository eslint/eslint.org, pull requests merged in 2024-05, with the labels that each got.

#562 docs: Publish v9.2.0 release highlights
  src/content/blog/2024-05-03-eslint-v9.2.0-released.md
Labels: documentation, accepted

#563 fix: Update setup command on homepage
  src/content/pages/index.html
Labels: bug, accepted

#561 chore: switch to eslint v9, eslint-config-eslint v10
  eslint.config.js
  package-lock.json
  package.json
  src/playground/utils/codemirror-linter-extension.js
Labels: chore, accepted

#564 feat: ESLint compat utilities post
  src/content/blog/2024-05-09-eslint-compatibility-utilities.md
Labels: feature, accepted

#568 chore: Update es.yml
  src/_data/sites/es.yml
Labels: chore, translation

#569 fix: Styling of first code block in post
  src/content/blog/2024-05-09-eslint-compatibility-utilities.md
Labels: bug

#571 perf: Add dns-prefetch for static resources
  src/_includes/layouts/base.html
Labels: feature, chore

#565 fix: support `node:` protocol when building Playground
  webpack.config.js
Labels: bug

#572 docs: Publish v9.3.0 release highlights
  src/content/blog/2024-05-17-eslint-v9.3.0-released.md
Labels: documentation

#573 feat: redirect `docs/v9.x` to `docs/latest`
  src/static/redirects.njk
Labels: feature, accepted

#575 feat: Config Migrator Post
  src/content/blog/2024-05-31-eslint-configuration-migrator.md
Labels: feature
