Repository eslint/eslint.org, pull requests merged in 2024-06, with the labels that each got.

#576 feat: Add mention of eslint-transforms to rule API blog post
  src/content/blog/2023-09-26-preparing-custom-rules-eslint-v9.md
Labels: feature

#578 chore: Add flex-wrap property for responsive layout on homepage
  src/assets/scss/foundations.scss
Labels: chore

#579 fix: disable font ligatures in code blocks for better readability
  src/assets/scss/foundations.scss
Labels: bug, accepted

#581 fix: squeezed layout
  src/assets/scss/foundations.scss
  src/content/pages/index.html
Labels: bug

#582 docs: Publish v9.5.0 release highlights
  src/content/blog/2024-06-14-eslint-v9.5.0-released.md
Labels: documentation

#583 chore: switch to eslint-config-eslint v11
  .eleventy.js
  eslint.config.js
  package-lock.json
  package.json
  tools/add-author.js
  tools/fetch-sponsors.js
  tools/fetch-stats.js
  tools/fetch-team-data.js
  tools/validate-links.js
  webpack.config.js
Labels: chore

#593 docs: Publish v9.6.0 release highlights
  src/content/blog/2024-06-28-eslint-v9.6.0-released.md
Labels: documentation

#590 feat: [playground]Add scrollToPosition functionality to Editor component
  src/assets/scss/components/alert.scss
  src/playground/App.js
  src/playground/components/Alert.js
  src/playground/components/CodeEditor.js
Labels: feature, accepted, playground

#553 fix: Fixed infinite flicker
  src/playground/App.js
Labels: bug
