Repository eslint/eslint.org, pull requests merged in 2024-04, with the labels that each got.

#540 docs: switch upcoming version to regular
  src/_data/stats.json
  tools/release-data.js
Labels: documentation

#541 feat: enable `docs/v8.x`
  src/_data/sites/de.yml
  src/_data/sites/en.yml
  src/_data/sites/es.yml
  src/_data/sites/fr.yml
  src/_data/sites/hi.yml
  src/_data/sites/ja.yml
  src/_data/sites/pt-br.yml
  src/_data/sites/zh-hans.yml
  src/static/redirects.njk
Labels: feature, accepted, translation

#539 feat: blog: Introducing ESLint Config Inspector
  src/_data/all_authors.json
  src/_includes/partials/author_bios/antfu.md
  src/assets/images/blog/2024/config-inspector-configs.png
  src/assets/images/blog/2024/config-inspector-deprecated.png
  src/assets/images/blog/2024/config-inspector-filepath-filter.png
  src/assets/images/blog/2024/config-inspector-filepath-merged.png
  src/assets/images/blog/2024/config-inspector-intro.png
  src/content/drafts/eslint-config-inspector.md
Labels: feature

#499 feat: Redirect flat config docs to main docs
  src/static/redirects.njk
Labels: feature, accepted

#543 feat: redirect `docs/next` to `docs/latest`
  src/static/redirects.njk
Labels: feature

#544 feat: v9.0.0 release post(s)
  src/content/blog/2024-04-05-eslint-config-inspector.md
  src/content/blog/2024-04-05-eslint-v9.0.0-released.md
Labels: feature

#547 fix: Add missing features to v9 blog post
  src/content/blog/2024-04-05-eslint-v9.0.0-released.md
Labels: bug

#552 docs: Fix misspelling in "Config Inspector" blog post
  src/content/blog/2024-04-05-eslint-config-inspector.md
Labels: documentation

#554 docs: Publish v9.1.0 release highlights
  src/content/blog/2024-04-19-eslint-v9.1.0-released.md
Labels: documentation

#555 docs: Publish v9.1.1 release highlights
  src/content/blog/2024-04-22-eslint-v9.1.1-released.md
Labels: documentation

#556 docs: fix typo in v9.1.1 highlights
  src/content/blog/2024-04-22-eslint-v9.1.1-released.md
Labels: documentation

#560 fix: Update custom rules v9 upgrade post
  src/content/blog/2023-09-26-preparing-custom-rules-eslint-v9.md
Labels: bug, accepted
