Repository eslint/eslint.org, pull requests merged in 2024-02, with the labels that each got.

#517 feat: account for backports when calculating versions
  tools/fetch-stats.js
Labels: feature, accepted

#523 docs: switch upcoming version to beta
  src/_data/stats.json
  tools/release-data.js
Labels: documentation

#522 feat: Switch to Ethical Ads
  src/_data/sites/de.yml
  src/_data/sites/en.yml
  src/_data/sites/es.yml
  src/_data/sites/fr.yml
  src/_data/sites/hi.yml
  src/_data/sites/ja.yml
  src/_data/sites/pt-br.yml
  src/_data/sites/zh-hans.yml
  src/_includes/components/hero.macro.html
  src/_includes/partials/ad.html
  src/assets/scss/components/ads.scss
  src/assets/scss/styles.scss
  src/content/pages/index.html
Labels: feature, translation

#526 docs: Publish v9.0.0-beta.0 release highlights
  src/content/blog/2024-02-09-eslint-v9.0.0-beta.0-released.md
Labels: documentation

#527 fix: Show ads on all pages
  src/_includes/layouts/blog.html
  src/_includes/layouts/category.html
  src/_includes/layouts/components.html
  src/_includes/layouts/post.html
  src/content/pages/branding.html
  src/content/pages/donate.html
  src/content/pages/languages.html
  src/content/pages/sponsors.html
  src/content/pages/team.html
Labels: bug, accepted

#512 chore: migrate ESLint setup to flat configuration
  .eleventy.js
  .eslintignore
  .eslintrc.js
  .stylelintrc.js
  eslint.config.js
  package-lock.json
  package.json
  src/playground/utils/codemirror-linter-extension.js
  tools/add-author.js
  tools/fetch-sponsors.js
  tools/fetch-stats.js
  tools/fetch-team-data.js
  tools/validate-links.js
Labels: chore, accepted

#528 feat: 2023 review
  src/content/blog/2024-02-21-eslint-2023-year-review.md
Labels: feature, accepted

#531 docs: Publish v8.57.0 release highlights
  src/content/blog/2024-02-23-eslint-v8.57.0-released.md
Labels: documentation

#532 docs: Publish v9.0.0-beta.1 release
  src/content/blog/2024-02-23-eslint-v9.0.0-beta.1-released.md
Labels: documentation

#533 docs: update stats
  src/_data/stats.json
Labels: documentation

#530 feat: Update 2022 year in review financials
  src/content/blog/2023-01-10-eslint-2022-year-review.md
Labels: feature, accepted
