Repository eslint/eslint.org, pull requests merged in 2024-03, with the labels that each got.

#534 chore: update stats after releases
  .github/workflows/data-fetch.yml
Labels: chore

#535 docs: Publish v9.0.0-beta.2 release highlights
  src/content/blog/2024-03-08-eslint-v9.0.0-beta.2-released.md
Labels: documentation

#537 docs: switch upcoming version to rc
  src/_data/stats.json
  tools/release-data.js
Labels: documentation, accepted

#538 docs: Publish v9.0.0-rc.0 release highlights
  src/_data/all_authors.json
  src/_includes/partials/author_bios/fasttime.md
  src/content/blog/2024-03-22-eslint-v9.0.0-rc.0-released.md
Labels: documentation

#509 feat: migrate playground to flat config
  src/assets/scss/components/playground-configuration.scss
  src/playground/App.js
  src/playground/components/CodeEditor.js
  src/playground/components/Configuration.js
  src/playground/package.json
  src/playground/utils/constants.js
Labels: enhancement, feature, accepted
