Repository eslint/eslint.org, pull requests merged in 2024-09, with the labels that each got.

#614 feat: [playground] Add revert configs to default option
  src/assets/scss/components/playground-configuration.scss
  src/playground/App.js
  src/playground/components/Configuration.js
Labels: feature

#620 feat: Blog post announcing Trunk sponsorship
  src/assets/images/blog-covers/sponsorship-trunk.png
  src/content/blog/2024-09-04-trunk-gold-sponsor-eslint.md
Labels: feature

#622 fix: Allow blocking sponsors
  src/_data/blocked-sponsors.json
  src/_data/sponsors.json
  tools/fetch-sponsors.js
Labels: bug, accepted

#623 fix: Ensure donations don't show up as sponsors
  tools/fetch-sponsors.js
Labels: bug, accepted

#624 docs: Publish v9.10.0 release highlights
  src/content/blog/2024-09-06-eslint-v9.10.0-released.md
Labels: documentation

#626 docs: Publish v8.57.1 release highlights
  src/content/blog/2024-09-16-eslint-v8.57.1-released.md
Labels: documentation

#635 docs: Publish v9.11.0 release highlights
  src/content/blog/2024-09-20-eslint-v9.11.0-released.md
Labels: documentation

#636 fix: structure of `ja.yml`
  src/_data/sites/ja.yml
Labels: bug, translation

#637 refactor: use `eslint/universal` export in Playground
  src/playground/App.js
Labels: chore, accepted

#640 docs: Publish v9.11.1 release highlights
  src/content/blog/2024-09-23-eslint-v9.11.1-released.md
Labels: documentation

#639 feat: Add diamond tier to fetch-sponsors
  src/_data/sponsors.json
  tools/fetch-sponsors.js
Labels: feature, accepted

#627 ci: Update the actions version to the latest
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/label.yml
Labels: accepted, build

#641 feat: Add Diamond tier to website
  src/_data/sites/de.yml
  src/_data/sites/en.yml
  src/_data/sites/es.yml
  src/_data/sites/fr.yml
  src/_data/sites/hi.yml
  src/_data/sites/ja.yml
  src/_data/sites/pt-br.yml
  src/_data/sites/zh-hans.yml
  src/assets/scss/sponsors.scss
  src/content/pages/index.html
  src/content/pages/sponsors.html
Labels: feature, accepted, translation
