Repository eslint/eslint.org, pull requests merged in 2024-11, with the labels that each got.

#657 docs: Publish v9.14.0 release highlights
  src/content/blog/2024-11-01-eslint-v9.14.0-released.md
Labels: documentation

#658 docs: Mention perf improvement in v9.14 blog
  src/content/blog/2024-11-01-eslint-v9.14.0-released.md
Labels: documentation

#660 chore: update url for algolia referrers
  src/_includes/components/search.html
Labels: chore, accepted

#628 fix: style issues in no-js mode
  src/_includes/components/logo.html
  src/_includes/layouts/base.html
  src/assets/scss/components/logo.scss
  src/assets/scss/donations.scss
  src/assets/scss/forms.scss
  src/assets/scss/sponsors.scss
  src/assets/scss/styles.scss
  src/assets/scss/syntax-highlighter.scss
  src/assets/scss/tokens/opacity.scss
  src/assets/scss/tokens/themes.scss
  src/assets/scss/tokens/ui.scss
Labels: bug, accepted

#661 docs: Publish v9.15.0 release highlights
  src/content/blog/2024-11-15-eslint-v9.15.0-released.md
Labels: documentation

#667 docs: Publish v9.16.0 release highlights
  src/content/blog/2024-11-29-eslint-v9.16.0-released.md
Labels: documentation
