Repository eslint/eslint.org, pull requests merged in 2025-01, with the labels that each got.

#673 chore: Fixing Focus Order by Rearranging Element Sequence
  src/_includes/components/search.html
  src/assets/js/search.js
Labels: chore, accepted

#683 fix: GitHub images on website
  src/_data/all_authors.json
  src/_data/donations.json
  src/_data/sponsors.json
  src/_data/team.json
  tools/add-author.js
  tools/fetch-sponsors.js
  tools/fetch-team-data.js
Labels: bug, accepted

#680 fix: fallback images on site
  src/_includes/components/card.macro.html
  src/_includes/components/donation.macro.html
  src/_includes/components/profile.macro.html
Labels: bug, accepted

#664 feat: blog: Differences between linting and type checking
  src/_data/all_authors.json
  src/_includes/partials/author_bios/joshuakgoldberg.md
  src/content/blog/2025-01-28-differences-between-eslint-and-typescript.md
Labels: feature

#686 feat: blog: 2024 year in review
  src/_includes/partials/author_bios/JoshuaKGoldberg.md
  src/assets/images/blog/2025/2024-expenses.svg
  src/assets/images/blog/2025/2024-income-sources.svg
  src/content/blog/2025-01-22-eslint-2024-year-review.md
Labels: feature, accepted

#687 docs: Publish v9.19.0 release highlights
  src/content/blog/2025-01-24-eslint-v9.19.0-released.md
Labels: documentation
