Repository eslint/eslint.org, pull requests merged in 2025-04, with the labels that each got.

#715 fix: correct rule input menu styles
  src/playground/components/Configuration.js
Labels: bug, accepted

#712 feat: blog: Introducing bulk suppressions
  src/_data/all_authors.json
  src/_includes/partials/author_bios/softius.md
  src/content/drafts/introducing-bulk-suppressions.md
Labels: feature, accepted

#716 feat: publish bulk suppressions blog post
  src/content/blog/2025-04-04-introducing-bulk-suppressions.md
Labels: feature

#717 docs: Publish v9.24.0 release highlights
  src/content/blog/2025-04-04-eslint-v9.24.0-released.md
Labels: documentation

#718 docs: Publish v9.25.0 release highlights
  src/content/blog/2025-04-18-eslint-v9.25.0-released.md
Labels: documentation

#719 docs: Publish v9.25.1 release highlights
  src/content/blog/2025-04-21-eslint-v9.25.1-released.md
Labels: documentation
