Repository eslint/eslint.org, pull requests merged in 2025-02, with the labels that each got.

#689 fix: improve WCAG 2.1 accessibility compliance
  src/_includes/layouts/base.html
  src/_includes/partials/faqs.html
  src/content/pages/index.html
Labels: bug

#690 feat: upgrade to eleventy v3
  package-lock.json
  package.json
Labels: feature, contributor pool

#691 docs: Publish v9.20.0 release highlights
  src/content/blog/2025-02-07-eslint-v9.20.0-released.md
Labels: documentation

#693 fix: keyboard Navigation for Search Results
  src/assets/js/search.js
Labels: bug

#695 feat: blog: ESLint CSS Support
  src/content/blog/2025-02-18-eslint-css-support.md
Labels: feature, accepted

#694 fix: allow typing in search box while dropdown is open
  src/assets/js/search.js
Labels: bug

#696 docs: Publish v9.21.0 release highlights
  src/content/blog/2025-02-21-eslint-v9.21.0-released.md
Labels: documentation

#699 fix: add border after author's bio in blog
  src/assets/scss/blog.scss
Labels: bug
