Repository eslint/eslint.org, pull requests merged in 2025-07, with the labels that each got.

#739 docs: publish v9.30.1 release highlights
  src/_data/blog-dates.json
  src/content/blog/2025-07-01-eslint-v9.30.1-released.md
Labels: documentation

#741 docs: remove `PULL_REQUEST_TEMPLATE.md` in favor of centralized template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#743 chore: update `.gitignore` and ESLint config to use `globalIgnores`
  .gitignore
  eslint.config.js
Labels: chore

#745 fix: cursor jumps to start of line unexpectedly
  src/playground/App.js
Labels: bug, accepted
