Repository eslint/eslint.org, pull requests merged in 2025-03, with the labels that each got.

#703 feat: blog: Evolving flat config with extends
  src/content/blog/2025-03-07-flat-config-extends-define-config-global-ignores.md
Labels: feature

#704 docs: Publish v9.22.0 release highlights
  src/content/blog/2025-03-07-eslint-v9.22.0-released.md
Labels: documentation

#705 feat: Add more details around defineConfig in release notes
  src/content/blog/2025-03-07-eslint-v9.22.0-released.md
Labels: feature

#706 docs: fix typos in "Evolving flat config with extends" blog
  src/content/blog/2025-03-07-flat-config-extends-define-config-global-ignores.md
Labels: documentation, accepted

#682 feat: add code explorer in the navbar
  src/_data/links.json
  src/_data/sites/de.yml
  src/_data/sites/en.yml
  src/_data/sites/es.yml
  src/_data/sites/fr.yml
  src/_data/sites/hi.yml
  src/_data/sites/ja.yml
  src/_data/sites/pt-br.yml
  src/_data/sites/zh-hans.yml
  src/assets/js/main.js
  src/assets/scss/components/index.scss
  src/assets/scss/components/navigation.scss
  src/assets/scss/header.scss
Labels: feature, accepted, translation

#707 fix: search navigation on pressing Enter
  src/assets/js/search.js
Labels: bug

#698 feat: add copy button
  .eleventy.js
  src/_11ty/plugins/pre-wrapper.js
  src/_includes/layouts/post.html
  src/assets/scss/blog.scss
Labels: feature, accepted, contributor pool

#711 docs: publish v9.23.0 release highlights
  src/content/blog/2025-03-21-eslint-v9.23.0-released.md
Labels: documentation

#702 feat: add alerts action bar
  src/assets/scss/components/alert.scss
  src/assets/scss/components/alerts-action-bar.scss
  src/assets/scss/styles.scss
  src/playground/App.js
  src/playground/components/AlertsActionBar.js
Labels: feature, accepted
