Repository eslint/eslint.org, pull requests merged in 2025-05, with the labels that each got.

#722 chore: remove EOL banner
  src/_includes/layouts/base.html
  src/_includes/partials/deprecation-notice.html
Labels: chore

#723 docs: Publish v9.26.0 release highlights
  src/content/blog/2025-05-02-eslint-v9.26.0-released.md
Labels: documentation

#720 perf: introduce React Compiler to improve performance
  .babelrc
  eslint.config.js
  functions/og.tsx
  package-lock.json
  package.json
  src/playground/components/Alert.js
  src/playground/components/Configuration.js
  webpack.config.js
Labels: chore

#725 chore: migrate sass to module system
  package-lock.json
  package.json
  src/assets/scss/components/alert.scss
  src/assets/scss/styles.scss
Labels: chore, accepted

#727 fix: reset btn styling
  src/assets/scss/components/playground-configuration.scss
  src/playground/components/Configuration.js
Labels: bug, accepted

#724 feat: add report an issue button
  src/assets/scss/components/playground-configuration.scss
  src/playground/App.js
  src/playground/components/Configuration.js
  src/playground/components/ShareURL.js
  src/playground/utils/constants.js
Labels: feature, accepted, contributor pool

#726 feat: blog about html-eslint
  src/_data/all_authors.json
  src/_includes/partials/author_bios/yeonjuan.md
  src/content/drafts/eslint-html-plugin.md
Labels: feature

#728 feat: Schedule html-eslint post
  src/content/blog/2025-05-13-eslint-html-plugin.md
Labels: feature

#729 docs: Publish v9.27.0 release highlights
  src/content/blog/2025-05-16-eslint-v9.27.0-released.md
Labels: documentation

#731 feat: v9 retrospective blog post
  src/content/blog/2025-05-21-eslint-v9.0.0-retrospective.md
Labels: feature, accepted

#692 feat: add last updated date to blog posts
  .eleventy.js
  package.json
  src/_data/blog-dates.json
  src/_includes/partials/post-sidebar.html
  src/assets/scss/blog.scss
  tools/update-blog-dates.js
Labels: feature, accepted, contributor pool
